.container
  .row
    %h2.column
      = @league.display_name
  - if @league.current_season && @league.current_season.has_games
    %h3{:style => "float:right;"}
      = "Days remaining: #{(@league.current_season.end - DateTime.now).to_i/(24 * 60 * 60)}"
    %br
    - if @league.leader
      %h3
        = "Leader leader: #{@league.leader.name}"
    %br
    %h4 Recent Games
    .table.column.column-80
      %table
        %thead
          %tr
            %th Winner
            %th Home
            %th Away
            %th.t-num Score
            %th.t-num Penalties
            %th View
            - if current_user == @league.commissioner
              %th Edit
              %th Approved
        %tbody
          - @league.current_season.games.where(:approved => true).order('id desc').limit(3).each do |game|
            %tr
              %td
                = game.winner
              %td
                = game.home_user
              %td
                = game.away_user
              %td.t-num
                = "#{game.home_score} - #{game.away_score}"
              %td.t-num
                - if game.home_penalty_score? && game.away_penalty_score?
                  = "#{game.home_penalty_score} - #{game.away_penalty_score}"
                - else
                  0 - 0
              %td
                = link_to "View", league_season_game_path(@league, game.season.season_id, game.game_id)
              - if current_user == @league.commissioner
                %td
                  = link_to "Edit", edit_league_season_game_path(@league, game.season.season_id, game.game_id)
                %td
                  = game.approved.to_s.capitalize
    .leader.column.column-30
  - else
    %h2.center No games have been played yet!