.table
  %table
    %thead
      %tr
        /%th id
        %th Winner
        %th Home
        %th Away
        %th.t-num Score
        %th.t-num Penalties
        - if params[:action] == "review"
          %th Approve
          %th Decline
        - else
          %th View
          - if current_user == @league.commissioner
            %th Edit
            %th Approved
    %tbody
      - @games.each do |game|
        %tr
          /%td
          /  = game.id
          %td
            = game.winner
          %td
            = game.home_user
          %td
            = game.away_user
          %td.t-num
            = "#{game.home_score} - #{game.away_score}"
          %td.t-num
            - if game.home_penalty_score? && game.away_penalty_score?
              = "#{game.home_penalty_score} - #{game.away_penalty_score}"
            - else
              0 - 0
          - if params[:action] != "review"
            %td
              = link_to "View", league_season_game_path(@league, game.season.season_id, game.game_id)
            - if current_user == @league.commissioner
              %td
                = link_to "Edit", edit_league_season_game_path(@league, game.season.season_id, game.game_id)
              %td
                = game.approved.to_s.capitalize
          - if params[:action] == "review"
            %td
              = link_to "Approve", approve_path(:game_id => game.game_id), :method => :post
            %td
              = link_to "Decline", decline_path(:game_id => game.game_id), :method => :post