.container
  %h1
    = "Game ##{@game.id}"
  %table#table
    %thead
      %tr
        %th Winner
        %th Home Player
        %th Away Player
        %th Home Score
        %th Away Score
        %th Home Penalties
        %th Away Penalties
    %tbody
      %tr
        %td
          = @game.winner
        %td
          = @game.home_user
        %td
          = @game.away_user
        %td
          = @game.home_score
        %td
          = @game.away_score
        %td
          - if @game.home_penalty_score?
            = @game.home_penalty_score
          - else
            N/A
        %td
          - if @game.away_penalty_score?
            = @game.away_penalty_score
          - else
            N/A
