.container
  %h1
    = "Game ##{@game.id}"
  %table#table
    %thead
      %tr
        %th Winner
        %th Home
        %th Away
        %th.t-num Score
        %th.t-num Penalties
    %tbody
      %tr
        %td
          = @game.winner
        %td
          = @game.home_user
        %td
          = @game.away_user
        %td.t-num
          = "#{@game.home_score} - #{@game.away_score}"
        %td.t-num
          - if @game.home_penalty_score? && @game.away_penalty_score?
            = "#{@game.home_penalty_score} - #{@game.away_penalty_score}"
          - else
            0 - 0

