.container
  %h1
    Points Table
  %table#table
    %thead
      %tr
        %th Name
        %th Wins
        %th Losses
        %th Points
        %th Points/Game
        %th Goals For
        %th Goals Against
        %th Goals For/Game
        %th Goals Against/Game
        %th Goal Differential
    %tbody
      - @users.each do |user|
        %tr
          %td
            = user.name
          %td
            = user.win_count
          %td
            = user.loss_count
          %td
            = user.points
          %td
            = ((user.points + 0.0) / (user.win_count + user.loss_count)).to_s[0..3]
          %td
            = user.goals_for
          %td
            = user.goals_against
          %td
            = ((user.goals_for + 0.0) / (user.win_count + user.loss_count)).to_s[0..3]
          %td
            = ((user.goals_against + 0.0) / (user.win_count + user.loss_count)).to_s[0..3]
          %td
            = user.goals_for - user.goals_against
