.container
  %h1
    Points Table
  - if @season
    .table
      %table#standings
        %thead
          %tr
            %th Name
            %th.t-num{:title => "Win percentage"} W%
            %th.t-num{:title => "Wins"} W
            %th.t-num{:title => "Losses"} L
            %th.t-num{:title => "Draws"} D
            %th.t-num{:title => "Points"} P
            %th.t-num{:title => "Points per game"} P/G
            %th.t-num{:title => "Goals for"} GF
            %th.t-num{:title => "Goals against"} GA
            %th.t-num{:title => "Goals for per game "} GF/G
            %th.t-num{:title => "Goals against per game"} GA/G
            %th.t-num{:title => "Goal differential"} GD
        %tbody
          - @players.each do |player|
            - stats = player.stats(@season)
            %tr
              %td
                = player.name
              %td.t-num
                = wp(player)
              %td.t-num
                = stats[:games_won]
              %td.t-num
                = stats[:games_lost]
              %td.t-num
                = stats[:ties]
              %td.t-num
                = stats[:points]
              %td.t-num
                = ppg(player)
              %td.t-num
                = stats[:goals_for]
              %td.t-num
                = stats[:goals_against]
              %td.t-num
                = gfpg(player)
              %td.t-num
                = gapg(player)
              %td.t-num
                = stats[:goals_for] - stats[:goals_against]
  - else
    %h2.center It looks like your season hasn't started yet!
