.container
  %h1
    Points Table
  .table
    %table#table
      %thead
        %tr
          %th Name
          %th.t-num W%
          %th.t-num W
          %th.t-num L
          %th.t-num T
          %th.t-num P
          %th.t-num P/G
          %th.t-num GF
          %th.t-num GA
          %th.t-num GF/G
          %th.t-num GA/G
          %th.t-num GD
      %tbody
        - @users.each do |user|
          - stats = user.stats
          %tr
            %td
              = user.name
            %td.t-num
              = stats[:games] != 0 ? ((stats[:games_won] + 0.0)/(stats[:games])).to_s[0..3] : 0.0
            %td.t-num
              = stats[:games_won]
            %td.t-num
              = stats[:games_lost]
            %td.t-num
              = stats[:ties]
            %td.t-num
              = stats[:points]
            %td.t-num
              = stats[:games] != 0 ? ((stats[:points] + 0.0) / (stats[:games])).to_s[0..3] : 0.0 
            %td.t-num
              = stats[:goals_for]
            %td.t-num
              = stats[:goals_against]
            %td.t-num
              = stats[:games] != 0 ? ((stats[:goals_for] + 0.0) / (stats[:games])).to_s[0..3] : 0.0 
            %td.t-num
              = stats[:games] != 0 ? ((stats[:goals_against] + 0.0) / (stats[:games])).to_s[0..3] : 0.0 
            %td.t-num
              = stats[:goals_for] - stats[:goals_against]
