!!!
%html
  %head
    %title FIFA Statistics Tracker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    .navbar
      .navbar-item
        .navbar-item
          = link_to "FIFA Stat Tracker", root_path
      - if current_user
        .navbar-item-right
          .navbar-dropdown
            = link_to "#{current_user.name}", "#", :class => "uname"
            .navbar-dropdown-content
              = link_to "Edit Account", edit_user_registration_path
              = link_to "Log out", destroy_user_session_path, :method => :delete
        .navbar-item
          = link_to "My Leagues", myleagues_path
        .navbar-item
          = link_to "Join League", leagues_path
        .navbar-item
          = link_to "Create League", new_league_path
      - else
        .navbar-item-right
          .navbar-item
            = link_to "Sign up", new_user_registration_path, :class => "active"
        .navbar-item-right
          .navbar-item
            = link_to "Log in", new_user_session_path, :class => "active"

    - if current_user && params[:name]
      .navbar{:style => "margin-top: -20px; background-color: #4CAF50"}
        - if current_user
          .navbar-item-right
            .navbar-item.submitgame
              = link_to "+ Submit New Game", new_game_path, :class => ""
          .navbar-item
            = link_to "#{curr_league.name}", curr_league.name
          .navbar-item
            = link_to "Games", games_path
          .navbar-item
            = link_to "Table", table_path
          .navbar-item
            - if current_user.review_needed.count > 0
              = link_to "Review (#{current_user.review_needed.count})", review_path, :class => "emphasize"
            - else
              = link_to "Review", review_path
        - else
          .navbar-item-right
            .navbar-item
              = link_to "Sign up", new_user_registration_path, :class => "active"
          .navbar-item-right
            .navbar-item
              = link_to "Log in", new_user_session_path, :class => "active"
    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert
    = yield
